body {
    background-color: #F2F2F2;
}

.header {
    background-color: #0C70F2;
}

.logo {
    font-family: inter;
    font-weight: 900;
    color: white;
    font-size: 30px;
}

.links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bloco-2 {
    margin: 50px auto;
    width: 60%;
}

.bloco-2 h2 {
    font-weight: 700;
    font-size: 34px;
}

.bloco-2 p {
    text-align: left;
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
}

.bloco-3 {
    background-color: white;
    padding: 100px 70px;
    width: 50%;
    border-radius: 30px;
    box-shadow: 0 2px 5px #ccc;
}

.bloco-3 label {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 400;
}

.latlong {
    margin-top: 0;
}

.textField {
    background-color: #F2F2F2 !important;
    transition: background-color 0.5s ease;
}

.textField:focus {
    background-color: white !important;
}

.textField:not(:placeholder-shown) {
    background-color: white !important;
}

.textField::placeholder {
    color: #393939;
    opacity: 50%;
    font-size: 16px;
}

.btn-100 {
    width: 100%;
    box-shadow: 0 3px 2px #0C70F250;
    font-size: 23px;
    padding: 0;
}

.j {
    display: flex;
    align-items: center;
}


.bloco-4 {
    width: 50%;
    margin-top: 150px;
}

.bloco-4 h2 {
    font-weight: 700;
    font-size: 34px;
}

.table-header-blue th {
    background-color: #0C70F2;
    color: white;
}

.tabela {
    margin: 0;
    overflow: hidden
}

.tabela th,
td {
    text-align: center;
}

.bloco-5 {
    width: 50%;
    margin-top: 150px;
}

.bloco-5 h2 {
    font-weight: 700;
    font-size: 34px;
}

.resultado {
    font-weight: bold;
    margin-top: 20px;
    padding-left: 20px !important;
}

.footer {
    background-color: #0C70F2;
    color: white;
    margin-top: 100px;
}

.footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


@media screen and (max-width: 576px) {
    .header-items {
        display: flex;
        flex-direction: column;
    }

    .bloco-2-items {
        display: flex;
        flex-direction: column;
    }

    .clouds {
        order: 1;
        width: 35%;
    }

    .location-img {
        width: 35% !important;
    }

    .text {
        order: 2;
        text-align: center;
    }

    .bloco-3 {
        padding: 0 10px 30px 10px;
        width: 85% !important;
        border-radius: 10px;
    }

    h2 {
        font-size: 24px !important;
    }

    img {
        width: 50% !important;
    }
}

@media screen and (max-width: 992px) {

    .bloco-2,
    .bloco-3,
    .bloco-4,
    .bloco-5 {
        width: 90%;
    }
}